#!/bin/bash
{% raw %}
# explanation of script
if [[ ${#} -lt 1 ]] || [[ ${*} == *"-h"* ]] || [[ ${*} == *"--help"* ]]; then
	echo "Usage: $0 --create || --renew"
	echo ""
    echo "Two current functions:
        1. --create   Generates and installs new certificate
        2. --renew    Generates and installs renewed certificate"
	exit 1
	{% endraw %}
fi
source /root/etc/certbot-JamfPro
source /root/bin/certbot-keystore-JamfPro.sh

sendToLog () {
if [ "$debug" == "true" ]; then
    logMessage=${*}
    date=`date "+%Y-%m-%d_%H:%M:%S"`
    echo "$date - $logMessage" >> $logLocation
fi
}

# Find certbot or certbot-auto
which certbot
if [ $? == 0 ]; then
    certbot=`which certbot`
    sendToLog "Found $cerbot"
elif [ $? != 0 ]; then
    which certbot-auto
    if [ $? == 0 ]; then
        certbot=`which certbot-auto`
        sendToLog "Found $cerbot"
    elif [ $? != 0 ]; then
        echo "ERROR: certbot not found, try running yum install certbot"
        sendToLog "ERROR: certbot not found, try running yum install certbot"
        exit 1
    fi
fi

# Create cert (prod or test)
	# create test cert
if [[ $testCert == true && "$1" == "--create" ]]; then
    sendToLog "Creating Test Certificate"
    $certbot certonly -a apache --noninteractive --test-cert -d $myDomain --keep --email $myEmail --agree-tos --quiet
		updateKeystore
		restartTomcat
	# create prod cert
elif [[ $testCert == false && "$1" == "--create" ]]; then
    sendToLog "Creating Production Certificate"
    $certbot certonly -a apache --noninteractive -d $myDomain --keep --email $myEmail --agree-tos --quiet
		updateKeystore
		restartTomcat
	# renew test cert
elif [[ $testCert == true && "$1" == "--renew" ]]; then
    sendToLog "Attempting Renewal of Test Certificate"
    $certbot certonly -a apache --noninteractive --test-cert -d $myDomain --keep --email $myEmail --agree-tos --quiet --renew-hook /root/bin/certbot-keystore-JamfPro.sh --renewal
	# renew prod cert
elif [[ $testCert == false && "$1" == "--renew" ]]; then
		sendToLog "Attempting Renewal of Production Certificate"
		$certbot certonly -a apache --noninteractive -d $myDomain --keep --email $myEmail --agree-tos --quiet --renew-hook /root/bin/certbot-keystore-JamfPro.sh --renewal
	# error and quit
else
    echo "ERROR: Type of Certificate not specified"
    sendToLog "ERROR: Type of Certificate not specified"
    exit 1
fi

# Exit cleanly
sendToLog "All Done, Goodbye"
exit 0
